.weatherContainer{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 3rem;
}

.weather{
    background: black;
    width: 60%;
    height: 40vh;
    border-radius: 25px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
}

.content{
    color: #fefb7d;
}

.gridBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 90%;
    height: 38vh;
    margin: 0.5rem auto;
    font-weight: bold;
}

.item1{
    /* background-color: forestgreen; */
    width: 100%;
    align-self: center;
    font-size: 1.5rem;
}
.item2{
    /* background-color: aquamarine; */
    width: 100%;
    align-self: center;
    font-size: 1.5rem;
}
.item3{
    width: 100%;
    align-self: center;
    font-size: 1rem;
}
.item4{
    /* background-color: coral; */
    width: 100%;
    align-self: center;
    font-size: 1.5rem;
}

.span:before{
    content: "\00b0";
}

.span{
    vertical-align: super;
}

.temp{
    font-size: 3rem;
    vertical-align: sub;
}