.title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
}

.graphContainer{
    display: flex;
    justify-content: center;
}

.graph{
    margin-top: 5rem;
    width: 50%;
}